body {
    background-color: #2c8bbf;
}


h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

h2 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}


.custom-table {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;

}


.custom-table th {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
}


.custom-table td {
    text-align: center;
}


* {
    font-family: 'Inter', sans-serif;
}


#btnCreateActivity, #btnCreateSubject {
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    float: right;
}


input, select {
    border-radius: 5px;
    background-color: #D9D9D9;
}


.custom-table th {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid lightgray;
}


.divMaterias {
    float: left;
    margin-left: 20px;
}


.divActividades {
    float: right;
    margin-right: 20px;
}


@media (max-width: 1000px) {
    .divActividades {
        float: left;
        margin: 0;
        margin-left: 20px;
    }
}

.tituloFormulario {
    font-size: large;
}

.cuerpForm, .espacioForm {
    font-weight: bold;
    float: left;
}






