body {
    background-color: #2c8bbf;
}

/* Estilos para etiquetas <h2> */
h1 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

h2 {
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

/* Estilos para las tablas con clase custom-table */
.custom-table {
    background-color: white;
    border-radius: 10px;
    margin: 20px; /* Margen externo para las tablas */
    padding: 10px; /* Margen interno para las tablas */

}

/* Estilos para los títulos de columna de las tablas */
.custom-table th {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center; /* Centrar texto en los th */
}

/* Estilos para las celdas de datos de las tablas */
.custom-table td {
    text-align: center; /* Centrar texto en los td */
}

/* Estilos para todas las etiquetas */
* {
    font-family: 'Inter', sans-serif;
}

/* Estilos para los botones con ID "btnCreateActivity" y "btnCreateSubject" */
#btnCreateActivity, #btnCreateSubject {
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    float: right; /* Alinear los botones a la derecha */
}

/* Estilos para etiquetas <input> y <select> */
input, select {
    border-radius: 5px;
    background-color: #D9D9D9;
}

/* Estilos para las filas de cabecera de la tabla */
.custom-table th {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid lightgray;
}

/* Estilos para la clase divMaterias */
.divMaterias {
    float: left; /* Alinear a la izquierda */
    margin-left: 20px; /* Margen izquierdo de 20px */
}

/* Estilos para la clase divActividades */
.divActividades {
    float: right; /* Alinear a la derecha */
    margin-right: 20px; /* Margen derecho de 20px */
}

/* Estilos para la etiqueta <div> con clase "divActividades" en vista móvil */
@media (max-width: 1000px) {
    .divActividades {
        float: left; /* Eliminar la alineación a la derecha */
        margin: 0; /* Eliminar el margen derecho */
        margin-left: 20px; /* Agregar margen izquierdo de 20px */
    }
}

.tituloFormulario {
    font-size: large;
}

.cuerpForm, .espacioForm {
    font-weight: bold;
    float: left;
}






